# ===============================
# COPIER CE FICHIER EN .env
# cp .env.example .env
# ===============================

# Base de données
MYSQL_PASSWORD=yourpassword

# JWT
JWT_SECRET=yourSuperSecretKeyMinimum32Characters

# Compte admin par défaut
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminPassword