# ===============================
# SECRETS — NE JAMAIS COMMITER
# ===============================
.env
.gitignore
backend/src/main/resources/application.properties

# ===============================
# BACKEND (Spring Boot / Maven)
# ===============================
backend/target
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.class
backend/*.jar
backend/*.war
backend/.gitignore
backend/.dockerignore


# ===============================
# FRONTEND (Angular / Node)
# ===============================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.js.map
frontend/.gitignore
frontend/.dockerignore

# ===============================
# MEDIA / UPLOADS
# ===============================
backend/media/

# ===============================
# IDE
# ===============================
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln


# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db